nav {
    position: fixed;
}

article {
    margin-top: 64px;
}

iframe {
    border: 0;
    position: fixed;
}

@media (max-width: 576px) {
    iframe {
        left: -2.5px;
        margin-top: 64px;
        top: 0;
        height: 300px;
    }
}

form {
    div {
        vertical-align: top;
        margin: 10px 0;
        label {
            margin: 10px;
            padding-left: 5px;
            border-left: solid 3px #0abab5;
        }
    }
}

.upload {
    width: 80%;
    padding: 8px 20px;
    border: none;
    background: #0abab5;
    color: white;
    border-radius: 0.2rem;
}

.mapFixed{
    position:fixed !important;
    right: 0;
    bottom:0;
    width: 50%;
}

//crop
#image {
    max-width: 100%;
}

#crop-img,
#result {
    width: 100%;
}

//modal
.modal {
    margin: 0;
    display: none;
    /* Hidden by default */
    position: fixed;
    /* Stay in place */
    z-index: 2000;
    /* Sit on top */
    padding-top: 100px;
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%;
    /* Full width */
    height: 100%;
    /* Full height */
    overflow: auto;
    /* Enable scroll if needed */
    background-color: rgb(0, 0, 0);
    /* Fallback color */
    background-color: rgba(0, 0, 0, 0.6);
    /* Black w/ opacity */
}


/* Modal Content */

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}



/* The Close Button */

.close {
    color: #aaaaaa;
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    // color: #000;
    text-decoration: none;
    cursor: pointer;
}
.modal-confirm{
    display: inline-block;
    text-align: right;
    background-color:#0abab5;
    color: white;
    border-radius:0.2rem;
    padding:5px 10px;
}
.modal-confirm:hover{
    background-color:#60DFE5;
    color: white;
}

//shao
#pac-input {
    background-color: #fff;
    font-family: Roboto;
    font-size: 15px;
    font-weight: 300;
    margin-right: 12px;
    padding: 0 11px 0 13px;
    text-overflow: ellipsis;
    width: 300px;
}

#pac-input:focus {
    border-color: #4d90fe;
}

#gps {
    width: 50px;
    height: 50px;
    margin: 5px;
   
}

.controls {
    margin-top: 10px;
    border: 1px solid transparent;
    border-radius: 2px 0 0 2px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 32px;
    outline: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}